.dashboard-title{
    text-align: center;
    color: white;
}

label{
    color:gray;
}

.form-control{
    max-width: 500px;
}

.reservation-list{
    height: 500px;
    overflow: auto;
    border: 1px solid white
}

.table-list{
    height: 500px;
    overflow: auto;
    border: 1px solid white;
}
.reservation-date-area{
    height: 150px;
}

.table-list-area{
    height: 150px;
}

.section-title{
    color: white;
}

.date-display{
    color: grey;
}